.tip {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  background-color: var(--neutral-color-1);
  padding-block: .5rem;
  cursor: pointer;
  color: var(--neutral-color-6);
  font-size: var(--fs-inputs);
}

.selected {
  background-color: #ABEEE6;
  color: var(--neutral-color-1);
}


/* .tip input[type='radio'] {
  display: none;
} */