.container {}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 3rem;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section--1 {
  padding-inline: 2rem;

}

.main {
  background-color: var(--neutral-color-6);
  padding-block: 2rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

@media (min-width: 1024px) {

  .header {
    margin-block-start: 8rem;
    margin-block-end: 6rem;
  }


  .main {
    border-radius: 24px;
    width: 90%;
    max-width: 60rem;
    margin-inline: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  }


  .main form {
    display: flex;
  }

  .section--1 {
    flex: 1;
  }
}