.container {
  /* width: 90%;
  max-width: 30rem;
  margin-inline: auto; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 3rem;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section--1 {
  padding-inline: 2rem;
}

.main {
  background-color: var(--neutral-color-6);
  /* padding-inline: 2rem; */
  padding-block: 2rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}